<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인~</title>
  <link rel="stylesheet" th:href="@{/portal/css/portal.css}">
  <link rel="stylesheet" th:href="@{/header-footer/css/header-footer.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script th:src="@{/portal/js/header.js}"></script>
</head>

<body>

  <div id="wrap">
    <!-- header -->
    <div th:replace="~{fragments/header :: header}"></div>
    <!-- header -->

    <!-- content -->
    <div id="body">
      <div id="container">
        <div id="content">

          <div class="main_txt1 fc_b1">
            <span class="f36 b">
              편리한 대민행정 서비스 창구
            </span>
            <br>
            <span class="f24 fc_b">
              언제나 열려있는 민원 행정 서비스
            </span>
          </div>

          <div class="main_btn1">
            <a href="">
              <img src="/images/btn_main_myminwon.png" width="250" height="250" alt="나의민원조회하기">
              <span class="blind">나의민원조회하기</span>
            </a>
          </div>

          <div class="main_btn2">
            <a href="">
              <img src="/images/btn_main_online.png" width="209" height="209" alt="민원신청하기">
              <span class="blind">민원신청하기</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->

    <!-- footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- footer -->
  </div>

</body>

</html>