<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
  <link rel="stylesheet" th:href="@{/header-footer/css/header-footer.css}">
  <link rel="stylesheet" th:href="@{/notice/css/notice_list.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body class="site">

  <!-- header -->
  <div th:replace="fragments/header :: header"></div>
  <!-- header -->

  <div class="container">
    <h1 class="page-title">공지사항</h1>

    <div class="notice-box">
      <ul>
        <li>새울전자민원창구에서 알려드리는 공지사항입니다.</li>
        <li>시민 여러분께 새로운 소식과 정보를 신속하게 알려드리겠습니다.</li>
      </ul>
    </div>

    <div class="total">총 <strong th:text="${totalCount}">0</strong> 건</div>

    <table class="list-table">
      <thead>
        <tr>
          <th style="width:80px">번호</th>
          <th>제목</th>
          <th style="width:120px">공지일</th>
          <th style="width:80px">조회</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="it, iterStat : ${items}">
          <td style="width:80px" th:text="${totalCount - ((currentPage - 1) * pageSize) - iterStat.index}">1</td>
          <td>
            <span th:if="${it.isPinned == 'Y'}" class="tag-pinned">[공지]</span>
            <a th:href="@{|/notice/detail/${it.noticeId}|}" th:text="${it.title}">제목</a>
          </td>
          <td style="width:120px"
            th:text="${it.createdAt != null ? #temporals.format(it.createdAt, 'yyyy-MM-dd') : ''}">
            2025-09-01
          </td>
          <td style="width:80px" th:text="${it.viewCount}">0</td>
        </tr>

        <tr th:if="${#lists.isEmpty(items)}">
          <td colspan="4" class="empty">등록된 공지사항이 없습니다.</td>
        </tr>
      </tbody>
    </table>

    <div class="paging" id="navigator">
      <a class="page-btn prev" title="이전 페이지" th:href="@{/notice/list(
       page=${currentPage > 1 ? currentPage - 1 : 1},
       size=${pageSize},
       status=${status}
     )}">
        <span class="material-symbols-outlined">chevron_left</span>
      </a>

      <a class="page-btn" th:each="p : ${#numbers.sequence(startPage, endPage)}" th:text="${p}"
        th:href="@{/notice/list(page=${p}, size=${pageSize}, status=${status})}"
        th:classappend="${p == currentPage} ? ' active'">1</a>

      <a class="page-btn next" title="다음 페이지" th:href="@{/notice/list(
       page=${currentPage < totalPages ? currentPage + 1 : totalPages},
       size=${pageSize},
       status=${status}
     )}">
        <span class="material-symbols-outlined">chevron_right</span>
      </a>
    </div>
  </div>

  <!-- footer -->
  <div th:replace="fragments/footer :: footer"></div>
  <!-- footer -->

</body>

</html>