<div th:fragment="footer">
  <div id="footer">
    <div class="footer-container">

      <div class="logo-area-left">
        <img src="/images/log_foot.png" width="190" height="60" alt="새올전자민원창구">
      </div>

      <div class="logo-area-right">
        <div class="etcmenu">
          <ul>
            <li><a href=""><span style="color: #096fba; font-weight: bold;">개인정보처리방침</span></a></li>
            <li class="linl15"><a href="">협업창구</a></li>
          </ul>
        </div>
      </div>

      <div class="copy_u">
        (우) 01689 서울특별시 노원구 노해로 437(상계동) <br>
        대표전화: 02-2116-3114 / FAX: 02-2116-4666
      </div>
    </div>
  </div>
</div>