<div th:fragment="footer">
  <footer id="footer" class="pg-footer">
    <div class="footer-container">

      <!-- 좌측 로고 -->
      <div class="logo-area-left">
        <img src="/main/images/PenguLogoLongempty.png" alt="팽구 민원 포털 로고">
      </div>

      <!-- 우측 링크 -->
      <div class="logo-area-right">
        <nav class="etcmenu" aria-label="푸터 메뉴">
          <ul>
            <li>
              <a href="">
                <span class="policy">개인정보처리방침</span>
              </a>
            </li>
            <li><a href="">협업창구</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- 카피라이트/주소 -->
    <div class="copy_u">
      (우) 01689 서울특별시 노원구 노해로 437(상계동)<br>
      대표전화: 02-2116-3114 / FAX: 02-2116-4666
    </div>
  </footer>
</div>
